<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774509532820-vabhlgom2gi8ubu2n83quqt5mcd80uig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774509532820-vabhlgom2gi8ubu2n83quqt5mcd80uig</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>774509532820-9v9nmelape7pa2epmkff5pbjnhunphrv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJatWY7MfigUHuxtGlRY-k5NswC5Xmiww</string>
	<key>GCM_SENDER_ID</key>
	<string>774509532820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-707da</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-707da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774509532820:ios:2ab46b324168d26eecc681</string>
</dict>
</plist>